.Movie {
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px;

    background-color: #4393D9;
    box-shadow: 2px 2px 5px #011826;
    text-decoration: none;
}

.Movie > img {
    max-width: 175px;
    min-height: 275px;
    height: auto;
}

.Movie > p {
    height: 35px;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    color: white;
}