.MovieDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px 0 50px 0;
}

.MovieDetails_container {
    display: flex;
    justify-content: center;
}

.MovieDetails_poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;

    padding: 10px;

    background-color: #00abe4;
}

.MovieDetails_poster > img {
    width: 100%;
    max-width: 250px;
    height: auto;

    border: 5px solid #d8f0f2;
}

.MovieDetails_poster > span {
    width: 250px;

    text-align: center;
    border: 5px solid #d8f0f2;
}

.MovieDetails_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 10px solid #00abe4;
}

.MovieDetails_info > div {
    width: 370px;

    display: grid;
    grid-template-columns: 120px 200px;
    align-items: center;

    padding: 16px;

    color: #ffffff;
    font-size: 20px;
    background-color: #00abe4;

    border: 5px solid #d8f0f2;
}

.MovieDetails_info > div:first-child {
    display: block;

    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.MovieDetails_info > div > span {
    font-size: 20px;
    text-transform: uppercase;
}

.MovieDetails_descr {
    width: 660px;
}

.MovieDetails_descr > div {
    background-color: #00abe4;
    padding: 10px;
}

.MovieDetails_descr > div:first-child {
    padding-bottom: 0;
}

.MovieDetails_descr > div:last-child {
    padding-top: 0;
}

.MovieDetails_descr > div > p {
    padding: 10px;

    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    border: 5px solid #d8f0f2;
}

.MovieDetails_descr > div > h3 {
    width: 250px;

    font-size: 18px;

    padding: 10px;

    text-align: center;
    color: white;
    border: 5px solid #d8f0f2;
    border-bottom: 0;
}