.Pagination {
    display: flex;
    gap: 10px;
}

.Pagination > button {
    width: 65px;

    padding: 10px;

    font-size: 16px;
    color: #ffffff;
    background-color: #00abe4;
    border-radius: 10px;

    cursor: pointer;
}
.Pagination > button.active {
    background-color: #fff;
    color: black;
}

.Pagination > button:first-child {
    padding: 10px 5px 10px 10px;
    border-radius: 30px 10px 10px 30px;
}

.Pagination > button:last-child {
    padding: 10px 10px 10px 5px;
    border-radius: 10px 30px 30px 10px;
}

.Pagination > button:first-child:disabled {
    background-color: #C5D0D9;
}

.Pagination > button:last-child:disabled {
    background-color: #C5D0D9;
}