* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
html, body {
    background-color: #D8F0F2;
}

.Dark {
    background-color: #131415;
}

.Dark #header {
    background-color: #080808;
}

.Dark #movie {
    background-color: #1f2123;
}

.Dark #button {
    background-color: #1f2123;
}

.Dark #genre {
    background-color: #1f2123;
}

.Dark #genre_movie {
    background-color: #1f2123;
}

.Dark #search_movies {
    background-color: #1f2123;
}

.Dark #form {
    background-color: #080808;
}

.Dark #form > input {
    background-color: #1f2123;
    color: #ffffff;
}

.Dark #form > input::placeholder {
    color: #ffffff;
}

.Dark #form > button {
    background-color: #1f2123;
    color: #ffffff;
}

.Dark #movie_details div {
    background-color: #1f2123;
}

.Dark #movieDetails_poster > span {
    border: 5px solid #000000;
}

.Dark #movie_info > div {
    border: 5px solid #000000;
}

.Dark #movieDetails_poster > img {
    border: 5px solid #000000;
}

.Dark #movieDetails_info {
    border: 10px solid #1f2123;
}

.Dark #movieDetails_info > div {
    border: 5px solid #000000;
    padding: 15px;
}

.Dark #movieDetails_descr > div {
    background-color: #1f2123;
}

.Dark #movieDetails_descr > div > h3 {
    border: 5px solid #000000;
    border-bottom: 0;
}

.Dark #movieDetails_descr > div > p {
    border: 5px solid #000000;
}

.Dark #image_media {
    border: 5px solid #000000;
}

.Dark #image_popup > img {
    border: 5px solid #1f2123;
}

.Dark #image_popup > span {
    color: #d3d3d3;
}